{% extends 'base.html.twig' %}

{% block body %}
    <h1>Footballleagues list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for footballLeague in footballLeagues %}
            <tr>
                <td><a href="{{ path('footballleague_show', { 'id': footballLeague.id }) }}">{{ footballLeague.id }}</a></td>
                <td>{{ footballLeague.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('footballleague_show', { 'id': footballLeague.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('footballleague_edit', { 'id': footballLeague.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('footballleague_new') }}">Create a new footballLeague</a>
        </li>
    </ul>
{% endblock %}
